@use '@angular/material' as mat;
@use 'sass:map';
@use './app-color-paletes.scss' as paletes;

@include mat.core();

//_ DEFINE PALETES
//_ Setup primary from 500 to match with figma color system schema provided
$van-def-primary: mat.define-palette(paletes.$van-primary, 500, 500);
$van-def-accent: mat.define-palette(paletes.$van-accent, 500, 500);
$van-def-secondary: mat.define-palette(paletes.$van-secondary, 500, 500);

//_ Extra paletes
//_ Warn palete
$van-def-warn: mat.define-palette(paletes.$van-warn, 500, 500);

//_ Success palete
$van-def-success: mat.define-palette(paletes.$van-success, 500, 500);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$van-theme: mat.define-light-theme((color: (primary: $van-def-primary,
                accent: $van-def-accent,
                warn: $van-def-success,
                secondary: $van-def-secondary,
                success: $van-def-success )));

// Include theme styles for core and each component used in your app.
@include mat.all-component-themes($van-theme);