//_ Color Global Variables
:root {
  --primary: #880063;
  --primary-contrast: #fff;
  --primary-rgb: 136, 0, 99;
  --primary-contrast-rgb: 255, 255, 255;

  --high-light: #2b537c;
  --high-light-contrast: #ffffff;
  --high-light-rgb: 43, 83, 124;
  --high-light-contrast-rgb: 255, 255, 255;

  --secondary: #984283;
  --secondary-contrast: #ffffff;
  --secondary-rgb: 152, 66, 131;
  --secondary-contrast-rgb: 255, 255, 255;

  --tertiary: #d09bc4;
  --tertiary-contrast: #fff;
  --tertiary-rgb: 208, 155, 196;
  --tertiary-contrast-rgb: 255, 255, 255;

  --accent: #99989b;
  --accent-contrast: #1e0117;
  --accent-rgb: 153, 152, 155;
  --accent-contrast-rgb: 30, 1, 23;

  --warning: #f6d30d;
  --warning-contrast: #1e0117;
  --warning-rgb: 246, 211, 13;
  --warning-contrast-rgb: 30, 1, 23;

  --danger: #c9454b;
  --danger-contrast: #1e0117;
  --danger-rgb: 201, 69, 75;
  --danger-contrast-rgb: 30, 1, 23;

  --correct: #006322;

  --success: #006322;
  --success-contrast: #ffffff;
  --success-rgb: 0, 99, 34;
  --success-contrast-rgb: 255, 255, 255;

  //_ Others
  //_ Color original
  // --background: #e9e9f1;
  // --background-rgb: 233, 233, 241;
  --background: #d0d0dc;
  --background-rgb: 208, 208, 220;

  --text-color: #1e0117;
  --text-color-rgb: 30, 1, 23;

  --light-color: #fff;
  --light-color-contrast: #1e0117;

  //_ Color original
  // --disable-color: #d0d0dd;
  // --disable-color-rgb: 208, 208, 221;

  --disable-color: #b3b3c7;
  --disable-color-rgb: 179, 179, 199;
  --disable-color-contrast: #e9e9f1;

  --button-pressed: #CA4D6E;
  --button-pressed-contrast: #FFFFFF;
  --button-pressed-rgb: 202, 77, 110;
  --button-pressed-contrast-rgb: 255, 255, 255;
  --button-light-background: #F4F4FB;

  //
  --typography-default: #231729;
  --field-incorrect: #fbe9e9;
  --field-correct: #e1eee2;

  --keyboard-number-color: #E7CDE3;
  --keyboard-number-shadow: 0px 3px 0px 0px #93067238;
}

//_ For background colors
.bg-primary {
  background: var(--primary);
}

.bg-secondary {
  background: var(--secondary);
}

.bg-tertiary {
  background: var(--tertiary);
}

.bg-high-light {
  background: var(--high-light);
}

.bg-accent {
  background: var(--accent);
}

.bg-warning {
  background: var(--warning);
}

.bg-danger {
  background: var(--danger);
}

//_ For text colors
.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary-contrast);
}

.color-high-light {
  background: var(--high-light-contrast);
}

.color-tertiary {
  color: var(--tertiary);
}

.color-accent {
  color: var(--accent);
}

.color-warning {
  color: var(--warning);
}

.color-danger {
  color: var(--danger);
}