$van-primary: (
    50 : #f1e0ec,
    100 : #dbb3d0,
    200 : #c480b1,
    300 : #ac4d92,
    400 : #9a267a,
    500 : #880063,
    600 : #80005b,
    700 : #750051,
    800 : #6b0047,
    900 : #580035,
    A100 : #ff8ac8,
    A200 : #ff57b0,
    A400 : #ff2497,
    A700 : #ff0a8b,
    contrast: (50 : #1E0117,
        100 : #1E0117,
        200 : #1E0117,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #1E0117,
        A200 : #1E0117,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$van-secondary: (
    50 : #f3e8f0,
    100 : #e0c6da,
    200 : #cca1c1,
    300 : #b77ba8,
    400 : #a75e96,
    500 : #984283,
    600 : #903c7b,
    700 : #853370,
    800 : #7b2b66,
    900 : #6a1d53,
    A100 : #ffa7e3,
    A200 : #ff74d3,
    A400 : #ff41c3,
    A700 : #ff28bb,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$van-accent: (
    50 : #f3f3f3,
    100 : #e0e0e1,
    200 : #cccccd,
    300 : #b8b7b9,
    400 : #a8a7aa,
    500 : #99989b,
    600 : #919093,
    700 : #868589,
    800 : #7c7b7f,
    900 : #6b6a6d,
    A100 : #efebfd,
    A200 : #cbbcf8,
    A400 : #a283ff,
    A700 : #8f69ff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$van-warn: (
    50 : #f9e9e9,
    100 : #efc7c9,
    200 : #e4a2a5,
    300 : #d97d81,
    400 : #d16166,
    500 : #c9454b,
    600 : #c33e44,
    700 : #bc363b,
    800 : #b52e33,
    900 : #a91f23,
    A100 : #ffe2e3,
    A200 : #ffafb1,
    A400 : #ff7c80,
    A700 : #ff6367,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$van-success: (
    50 : #e0ece4,
    100 : #b3d0bd,
    200 : #80b191,
    300 : #4d9264,
    400 : #267a43,
    500 : #006322,
    600 : #005b1e,
    700 : #005119,
    800 : #004714,
    900 : #00350c,
    A100 : #6dff7c,
    A200 : #3aff4f,
    A400 : #07ff21,
    A700 : #00ec19,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);