.app-padding {
  padding: var(--app-padding);
}

.page-content {
  max-width: var(--app-page-max-width);
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-14 {
  font-size: 15px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-22 {
  font-size: 22px;
}

.text-24 {
  font-size: 24px;
}

.text-28 {
  font-size: 28px;
}

.no-shadow {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.prevent-text-selection {
  user-select: none;
}

.app-footer {
  justify-content: space-between;
  position: absolute;
  display: flex;
  padding: 15px;
  width: calc(100% - 60px);
  bottom: 0;

  .mdc-button {
    min-width: 180px;
    height: 80px !important;
    padding: 15px;
    border-radius: 16px;
    font-size: 20px;
  }
}

.app-gradient-border {
  background: var(--app-gradient-border) !important;
  border: 5px solid transparent !important;
  box-shadow: 8px 8px 32px 0px #3C012E12;
}

.app-shadow-1 {
  box-shadow: var(--app-shadow-1);
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

//_ FLEX LAYOUT CLASSES
.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.gap-5 {
    gap: 5px;
  }

  &.gap-10 {
    gap: 10px;
  }

  &.gap-15 {
    gap: 15px;
  }

  &.gap-18 {
    gap: 18px;
  }

  &.gap-20 {
    gap: 20px;
  }

  &.gap-24 {
    gap: 24px;
  }

  &.gap-30 {
    gap: 30px;
  }

  &.gap-35 {
    gap: 35px;
  }

  &.gap-40 {
    gap: 40px;
  }

  &.gap-8 {
    gap: 8px;
  }

  &.gap-16 {
    gap: 16px;
  }

  &.gap-24 {
    gap: 24px;
  }

  &.gap-32 {
    gap: 32px;
  }


  .flex-1,
  &.flex-1 {
    flex: 1;
  }

  .flex-1,
  &.flex-auto {
    flex: auto;
  }

  &.vertical-center {
    align-items: center;
  }

  &.horizontal-center {
    justify-content: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.space-evenly {
    justify-content: space-evenly;
  }
}

//_ COLORS CLASSES
.primary-color {
  color: var(--primary);
}

.primary-bg {
  background: var(--primary);
}

.primary-fill {
  fill: var(--primary);

  path {
    fill: var(--primary);
  }
}

//_ Bubble shown in select ticket type and payment method container
.suplement-price-bubble {
  position: absolute;
  right: 15px;
  z-index: 2;

  transform: translate(6px, 131px);

  p {
    margin: 0;
  }

  .bubble {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    max-width: 300px;
  }

  .bubble::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: transparent transparent #fff;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.page-title {
  margin-bottom: 6px;
}

.visibility-hidden {
  visibility: hidden;
}

.no-background {
  background: transparent !important;
}

.width-100 {
  width: 100%;
}

.app-dialog,
.small-dialog {
  .mat-mdc-dialog-surface {
    padding: 15px;
    border-radius: 15px !important;
    background: white !important;
    max-width: 350px;
  }
}

.small-dialog {
  .mat-mdc-dialog-surface> :first-child {
    width: 92% !important;
  }
}

.message-dialog {
  .mat-mdc-dialog-surface {
    padding: 15px;
    border-radius: 15px !important;
    background: white !important;
    max-width: 350px;
    min-width: 300px;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }

  .cdk-overlay-dark-backdrop {}
}

.message-dialog-backdrop {
  // background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, -0.7) 60%, rgba(0, 0, 0, -1) 100%);
}

.size-70-dialog {
  min-width: 300px;
  min-height: 300px;

  // max-height: 70% !important;
  // margin: auto;

  // max-width: 70% !important;
  // max-height: 70% !important;
  // .mat-mdc-dialog-container {
  //   max-width: 70% !important;
  //   max-height: 70% !important;
  // }

  .mat-mdc-dialog-surface {
    padding: 16px;
    border-radius: 16px !important;
    background: white !important;
    min-width: 300px !important;
    min-height: 300px !important;
    max-height: 70% !important;
  }

  &.dialog-overflow-hidden {
    .mat-mdc-dialog-surface {
      overflow: hidden !important;
    }
  }
}



.cursor-pointer {
  cursor: pointer !important;
}

.wrap-text {
  .mat-button-toggle-label-content {
    white-space: normal;
    word-break: break-word;
    text-align: center;
    line-height: 1.2 !important;
  }
}

.fullscreen-dialog {
  .mdc-dialog__surface {
    box-shadow: none !important;
  }
}

//_ CLASES PARA ESCPACIADO 
// Tamaños base para márgenes y paddings
$spacing_sizes: (
  xs: 8px,
  sm: 12px,
  md: 16px,
  lg: 24px,
  xl: 32px
);

// Mixin para generar clases de márgenes y paddings
@mixin generate-spacing-classes($property, $spacing_sizes) {
  @each $size, $value in $spacing_sizes {
    .#{$property}-#{$size} {
      #{$property}: #{$value};
    }

    .#{$property}-top-#{$size} {
      #{$property}-top: #{$value};
    }

    .#{$property}-right-#{$size} {
      #{$property}-right: #{$value};
    }

    .#{$property}-bottom-#{$size} {
      #{$property}-bottom: #{$value};
    }

    .#{$property}-left-#{$size} {
      #{$property}-left: #{$value};
    }

    .#{$property}-#{$size} {
      #{$property}: #{$value};
    }
  }
}

// Generar clases para márgenes
@include generate-spacing-classes('margin', $spacing_sizes);

// Generar clases para paddings
@include generate-spacing-classes('padding', $spacing_sizes);