* {
  --app-padding: 10px;
  --app-page-padding-top: 10px;
  --app-page-padding-bottom: 10px;
  --app-page-padding-left: 40px;
  --app-page-padding-right: 20px;
  --app-page-padding: var(--app-page-padding-top) var(--app-page-padding-left) var(--app-page-padding-bottom) var(--app-page-padding-left);
  /* 1024px */
  --app-page-max-width: 100%;


  --app-item-padding: 16px 24px;
  --app-item-border-radius: 16px;

  --app-gradient-border: linear-gradient(var(--light-color), var(--light-color)) padding-box,
    linear-gradient(to bottom, var(--light-color), #f0f0f0) border-box;
  --app-shadow-1: 8px 8px 32px 0px rgba(60, 1, 46, 0.07);

  --app-header-heigth: 64px;
  --app-layout-max-height: 768px;
}