<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log System Administration | VAN</title>

    <!-- Isolated Internal Fonts & Styles (Offline Air-Gapped) -->
    <link href="/public/fonts/roboto.css" rel="stylesheet">
    <link href="/public/css/tailwind.css" rel="stylesheet">
</head>
<body class="min-h-screen flex items-center justify-center p-4">

    <!-- Injected View Output -->
    {{{body}}}

</body>
</html>
